html {
  font-family: sans-serif;
  font-size: 14px;
}

table {
  border: 1px solid lightgray;
}

thead {
  height: 40px;
  background-color: grey;
}

th {
  border-bottom: 1px solid lightgray;
  border-top: 1px solid lightgray;
  padding: 0px 8px;
}

tbody {
  background-color: whitesmoke;
}

td {
  height: 40px;
  padding: 0px 8px;
}
